.gradle
.gitattributes
dboat-backend/HELP.md
dboat-backend/.gradle
dboat-backend/build/
!dboat-backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Angular added

# Compiled output
dboat-frontend/dist
dboat-frontend/tmp
dboat-frontend/out-tsc
dboat-frontend/bazel-out

# Node
dboat-frontend/node_modules
dboat-frontend/npm-debug.log
dboat-frontend/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
dboat-frontend/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
dboat-frontend/.history/*

# Miscellaneous
dboat-frontend/.angular/cache
dboat-frontend/.sass-cache/
dboat-frontend/connect.lock
dboat-frontend/coverage
dboat-frontend/libpeerconnection.log
dboat-frontend/testem.log
dboat-frontend/typings
dboat-frontend/__screenshots__/

# System files
.DS_Store
Thumbs.db
